<p>login works!</p>
<form (ngSubmit)="onSubmit()">
    <label for="email">Email address</label>
    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required>
  
    <label for="password">Password</label>
    <input type="password" id="password" name="password"class="form-control" [(ngModel)]="password" required>
  
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword"class="form-control" [(ngModel)]="confirmPassword"required>
  
    <button type="submit"(click)="onSubmit()">Login</button>
  </form>
  <div>
    <span>Email entered: {{ email }}</span>
    <span>Password entered: {{ password }}</span>
    <span>confirm-Password entered: {{ confirmpassword }}</span>
  </div>