<p>login works!</p>
<form class="example-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <label for="email">Email address</label>
    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required>
  
    <label for="password">Password</label>
    <input type="password" id="password" name="password"class="form-control" [(ngModel)]="password" required>
  
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword"class="form-control" [(ngModel)]="confirmPassword"required>
  
    <button type="submit"(click)="onSubmit()">Login</button>
  </form>
  <div *ngIf="loginError" class="error">{{ loginError }}</div>
  <div>
    <span id="email">Email entered: {{email}}</span><br>
    <span id="inputPassword">Password entered: {{password}}</span><br>
    <span id="inputconfirm">confirm-Password entered: {{confirmpassword}}</span>
  </div>