<p>sign-up works!</p>
<h2>Registration</h2>
<form (ngSubmit)="onSubmit()" #signupForm="ngForm">

  <div>
    <label for="email">Email Address</label>
    <input type="email" id="email" name="email"class="form-control" [(ngModel)]="email" required>
    <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['username'].dirty || signupForm.controls['email'].touched)">
    </div>
  </div>
  
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control"[(ngModel)]="password" required>
  </div>
  
  <div>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"[(ngModel)]="confirmPassword" required>
  </div>
  
  <div>
    <label for="company">Company</label>
    <input type="text" id="company" name="company" class="form-control"[(ngModel)]="company" disabled>
  </div>
  
  <div>
    <label for="street">Street</label>
    <input type="text" id="street" name="street" [(ngModel)]="street" required>
  </div>
  
  <div>
    <label for="city">City</label>
    <input type="text" id="city" name="city" [(ngModel)]="city" required>
  </div>
  
  <div>
    <label for="postalCode">Postal Code</label>
    <input type="text" id="postalCode" name="postalCode" [(ngModel)]="postalCode" pattern="[0-9]*" required>
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
  


</form>
